@model IEnumerable<WorkingWithVisualStudio.Models.Product>

@{
    Layout = "_Layout";
    ViewBag.Title = "Working with Visual Studio";
}

<h3 class="text-center">Товары</h3>
<p>Request Time: @DateTime.Now.ToString("HH:mm:ss")</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr><td>Name</td><td>Price</td></tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="AddProduct">
        Добавить новый товар
    </a>
</div>