@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            @ViewBag.Greeting, дорогой друг!
            <p>
                Приглашаю тебя на интересную вечеринку!<br /><br />
                П.с.: можешь взять с собой друзей!)
            </p>
            <br />
            <a asp-action="FormGoParty">Перейти к заполнению формы заявки на вечеринку...</a>
        </div>
    </body>
</html>
