@model PartyInvites.Models.GuestResponse
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Thanks</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body class="text-center">
        <p>
            <h1>Спасибо Вам, @Model.Name!</h1>
            @if (Model.WillAttend == true)
            {
                @:Это очень хорошо, что Вы придёте. Напитки будут самыми свежими!
            }
            else
            {
                @:Очень жаль, что Вы не сможете придти на вечеринку, но спасибо Вам, что написали об этом.
            }
        </p>
        <p>Кликните <a class="nav-link" asp-action="ListResponses">здесь</a>, чтобы посмотреть кто пойдёт на вечеринку.</p>
    </body>
</html>